@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* --main-color: #038303; */
    --main-color: rgb(79, 167, 79);
    --light-color: #f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family: 'Encode Sans Expanded' , sans-serif;
    --rating-color:#ffc908;

}

body{
    font-family: var(--font-family) !important;
}
.rating-color{
    color: var(--rating-color)
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover{
    box-shadow: var(--shadow);
    border: solid .0625rem var(--main-color);
    border-radius: 1.25rem;
    cursor: pointer;
}
.product .btn{
    transition: transform 0.5s, opacity 0.5s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn{
    opacity: 1;
    transform: translateY(0%);
}
.font-sm{
    font-size: .875rem
}
.text-main{
    color: var(--main-color)
}
.text-main-light{
    color: var(--light-color)
}
.bg-main{
    background-color: var(--main-color) !important;
}
.bg-main-light{
    background-color: var(--light-color) !important;
}
.active {
    @apply font-semibold;
}
.btn {
    @apply px-4 py-2 rounded
}

.btn-green {
    @apply text-white bg-green-600 hover:bg-green-700
}

.btn-red{
    @apply text-white bg-red-600 hover:bg-red-700
}

